bizapps_test.MVC/Connected Services/AsmxPostServiceReference/AsmxPostService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://postservice.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://postservice.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://postservice.org/">
      <s:element name="CreatePost">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postSoap" type="tns:PostSoap" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="categorySoapList" type="tns:ArrayOfCategorySoap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PostSoap">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Body" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreationDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="PostImage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCategorySoap">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CategorySoap" nillable="true" type="tns:CategorySoap" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CategorySoap">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CategoryName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreatePostResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreatePostResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePost">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postSoap" type="tns:PostSoap" />
            <s:element minOccurs="0" maxOccurs="1" name="categorySoapList" type="tns:ArrayOfCategorySoap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePostResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdatePostResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePost">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postSoap" type="tns:PostSoap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePostResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeletePostResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserPosts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserPostsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserPostsResult" type="tns:ArrayOfPostSoap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPostSoap">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PostSoap" nillable="true" type="tns:PostSoap" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUserPostsByUserName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserPostsByUserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserPostsByUserNameResult" type="tns:ArrayOfPostSoap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostsByUserNameWithoutCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostsByUserNameWithoutCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPostsByUserNameWithoutCategoryResult" type="tns:ArrayOfPostSoap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostsByUserNameAndCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="categoryId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostsByUserNameAndCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPostsByUserNameAndCategoryResult" type="tns:ArrayOfPostSoap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPost">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="postId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPostResult" type="tns:PostSoap" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreatePostSoapIn">
    <wsdl:part name="parameters" element="tns:CreatePost" />
  </wsdl:message>
  <wsdl:message name="CreatePostSoapOut">
    <wsdl:part name="parameters" element="tns:CreatePostResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePostSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePost" />
  </wsdl:message>
  <wsdl:message name="UpdatePostSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePostResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePostSoapIn">
    <wsdl:part name="parameters" element="tns:DeletePost" />
  </wsdl:message>
  <wsdl:message name="DeletePostSoapOut">
    <wsdl:part name="parameters" element="tns:DeletePostResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserPostsSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserPosts" />
  </wsdl:message>
  <wsdl:message name="GetUserPostsSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserPostsResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserPostsByUserNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserPostsByUserName" />
  </wsdl:message>
  <wsdl:message name="GetUserPostsByUserNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserPostsByUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetPostsByUserNameWithoutCategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetPostsByUserNameWithoutCategory" />
  </wsdl:message>
  <wsdl:message name="GetPostsByUserNameWithoutCategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetPostsByUserNameWithoutCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetPostsByUserNameAndCategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetPostsByUserNameAndCategory" />
  </wsdl:message>
  <wsdl:message name="GetPostsByUserNameAndCategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetPostsByUserNameAndCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetPostSoapIn">
    <wsdl:part name="parameters" element="tns:GetPost" />
  </wsdl:message>
  <wsdl:message name="GetPostSoapOut">
    <wsdl:part name="parameters" element="tns:GetPostResponse" />
  </wsdl:message>
  <wsdl:portType name="AsmxPostServiceSoap">
    <wsdl:operation name="CreatePost">
      <wsdl:input message="tns:CreatePostSoapIn" />
      <wsdl:output message="tns:CreatePostSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePost">
      <wsdl:input message="tns:UpdatePostSoapIn" />
      <wsdl:output message="tns:UpdatePostSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePost">
      <wsdl:input message="tns:DeletePostSoapIn" />
      <wsdl:output message="tns:DeletePostSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserPosts">
      <wsdl:input message="tns:GetUserPostsSoapIn" />
      <wsdl:output message="tns:GetUserPostsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserPostsByUserName">
      <wsdl:input message="tns:GetUserPostsByUserNameSoapIn" />
      <wsdl:output message="tns:GetUserPostsByUserNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPostsByUserNameWithoutCategory">
      <wsdl:input message="tns:GetPostsByUserNameWithoutCategorySoapIn" />
      <wsdl:output message="tns:GetPostsByUserNameWithoutCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPostsByUserNameAndCategory">
      <wsdl:input message="tns:GetPostsByUserNameAndCategorySoapIn" />
      <wsdl:output message="tns:GetPostsByUserNameAndCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPost">
      <wsdl:input message="tns:GetPostSoapIn" />
      <wsdl:output message="tns:GetPostSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AsmxPostServiceSoap" type="tns:AsmxPostServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreatePost">
      <soap:operation soapAction="http://postservice.org/CreatePost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePost">
      <soap:operation soapAction="http://postservice.org/UpdatePost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePost">
      <soap:operation soapAction="http://postservice.org/DeletePost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserPosts">
      <soap:operation soapAction="http://postservice.org/GetUserPosts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserPostsByUserName">
      <soap:operation soapAction="http://postservice.org/GetUserPostsByUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostsByUserNameWithoutCategory">
      <soap:operation soapAction="http://postservice.org/GetPostsByUserNameWithoutCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostsByUserNameAndCategory">
      <soap:operation soapAction="http://postservice.org/GetPostsByUserNameAndCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPost">
      <soap:operation soapAction="http://postservice.org/GetPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AsmxPostServiceSoap12" type="tns:AsmxPostServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreatePost">
      <soap12:operation soapAction="http://postservice.org/CreatePost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePost">
      <soap12:operation soapAction="http://postservice.org/UpdatePost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePost">
      <soap12:operation soapAction="http://postservice.org/DeletePost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserPosts">
      <soap12:operation soapAction="http://postservice.org/GetUserPosts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserPostsByUserName">
      <soap12:operation soapAction="http://postservice.org/GetUserPostsByUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostsByUserNameWithoutCategory">
      <soap12:operation soapAction="http://postservice.org/GetPostsByUserNameWithoutCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostsByUserNameAndCategory">
      <soap12:operation soapAction="http://postservice.org/GetPostsByUserNameAndCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPost">
      <soap12:operation soapAction="http://postservice.org/GetPost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AsmxPostService">
    <wsdl:port name="AsmxPostServiceSoap" binding="tns:AsmxPostServiceSoap">
      <soap:address location="http://localhost:53862/AsmxPostService.asmx" />
    </wsdl:port>
    <wsdl:port name="AsmxPostServiceSoap12" binding="tns:AsmxPostServiceSoap12">
      <soap12:address location="http://localhost:53862/AsmxPostService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>