bizapps_test.MVC/Connected Services/WcfCategoryServiceReference/WcfCategoryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/bizapps_test.SL.Wcf_Services.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/bizapps_test.SL.Wcf_Services.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CategoryDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryDC" nillable="true" type="tns:CategoryDC" />
  <xs:complexType name="ArrayOfCategoryDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryDC" nillable="true" type="tns:CategoryDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryDC" nillable="true" type="tns:ArrayOfCategoryDC" />
</xs:schema>