bizapps_test.MVC/Connected Services/WcfCommentServiceReference/WcfCommentService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/WcfCommentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/bizapps_test.SL.Wcf_Services.DataContracts" />
  <xs:element name="CreateComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/bizapps_test.SL.Wcf_Services.DataContracts" minOccurs="0" name="commentDC" nillable="true" type="q1:CommentDC" />
        <xs:element minOccurs="0" name="postId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCommentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/bizapps_test.SL.Wcf_Services.DataContracts" minOccurs="0" name="commentDC" nillable="true" type="q2:CommentDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCommentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/bizapps_test.SL.Wcf_Services.DataContracts" minOccurs="0" name="commentDC" nillable="true" type="q3:CommentDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCommentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndependentComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndependentCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/bizapps_test.SL.Wcf_Services.DataContracts" minOccurs="0" name="GetIndependentCommentsResult" nillable="true" type="q4:ArrayOfCommentDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentAnswers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="commentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentAnswersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/bizapps_test.SL.Wcf_Services.DataContracts" minOccurs="0" name="GetCommentAnswersResult" nillable="true" type="q5:ArrayOfCommentDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="commentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/bizapps_test.SL.Wcf_Services.DataContracts" minOccurs="0" name="GetCommentResult" nillable="true" type="q6:CommentDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HaveMoreThanFourLevels">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/bizapps_test.SL.Wcf_Services.DataContracts" minOccurs="0" name="commentDC" nillable="true" type="q7:CommentDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HaveMoreThanFourLevelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HaveMoreThanFourLevelsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>