bizapps_test.MVC/Connected Services/WcfCommentServiceReference/WcfCommentService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/bizapps_test.SL.Wcf_Services.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/bizapps_test.SL.Wcf_Services.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CommentDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommentText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ParentId" type="xs:int" />
      <xs:element minOccurs="0" name="PostId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommentDC" nillable="true" type="tns:CommentDC" />
  <xs:complexType name="ArrayOfCommentDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommentDC" nillable="true" type="tns:CommentDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommentDC" nillable="true" type="tns:ArrayOfCommentDC" />
</xs:schema>