bizapps_test.MVC/Connected Services/AsmxCommentServiceReference/AsmxCommentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://comments.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://comments.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://comments.org/">
      <s:element name="CreateComment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="commentSoap" type="tns:CommentSoap" />
            <s:element minOccurs="1" maxOccurs="1" name="postId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CommentSoap">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CommentText" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreationDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PostId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateCommentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateCommentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateComment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="commentSoap" type="tns:CommentSoap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCommentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateCommentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteComment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="commentSoap" type="tns:CommentSoap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCommentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteCommentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndependentComments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="postId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndependentCommentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIndependentCommentsResult" type="tns:ArrayOfCommentSoap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCommentSoap">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CommentSoap" nillable="true" type="tns:CommentSoap" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCommentAnswers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="commentId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCommentAnswersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCommentAnswersResult" type="tns:ArrayOfCommentSoap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetComment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="commentId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCommentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCommentResult" type="tns:CommentSoap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HaveMoreThanFourLevels">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="commentSoap" type="tns:CommentSoap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HaveMoreThanFourLevelsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HaveMoreThanFourLevelsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateCommentSoapIn">
    <wsdl:part name="parameters" element="tns:CreateComment" />
  </wsdl:message>
  <wsdl:message name="CreateCommentSoapOut">
    <wsdl:part name="parameters" element="tns:CreateCommentResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCommentSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateComment" />
  </wsdl:message>
  <wsdl:message name="UpdateCommentSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCommentResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCommentSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteComment" />
  </wsdl:message>
  <wsdl:message name="DeleteCommentSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCommentResponse" />
  </wsdl:message>
  <wsdl:message name="GetIndependentCommentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetIndependentComments" />
  </wsdl:message>
  <wsdl:message name="GetIndependentCommentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetIndependentCommentsResponse" />
  </wsdl:message>
  <wsdl:message name="GetCommentAnswersSoapIn">
    <wsdl:part name="parameters" element="tns:GetCommentAnswers" />
  </wsdl:message>
  <wsdl:message name="GetCommentAnswersSoapOut">
    <wsdl:part name="parameters" element="tns:GetCommentAnswersResponse" />
  </wsdl:message>
  <wsdl:message name="GetCommentSoapIn">
    <wsdl:part name="parameters" element="tns:GetComment" />
  </wsdl:message>
  <wsdl:message name="GetCommentSoapOut">
    <wsdl:part name="parameters" element="tns:GetCommentResponse" />
  </wsdl:message>
  <wsdl:message name="HaveMoreThanFourLevelsSoapIn">
    <wsdl:part name="parameters" element="tns:HaveMoreThanFourLevels" />
  </wsdl:message>
  <wsdl:message name="HaveMoreThanFourLevelsSoapOut">
    <wsdl:part name="parameters" element="tns:HaveMoreThanFourLevelsResponse" />
  </wsdl:message>
  <wsdl:portType name="AsmxCommentServiceSoap">
    <wsdl:operation name="CreateComment">
      <wsdl:input message="tns:CreateCommentSoapIn" />
      <wsdl:output message="tns:CreateCommentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateComment">
      <wsdl:input message="tns:UpdateCommentSoapIn" />
      <wsdl:output message="tns:UpdateCommentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteComment">
      <wsdl:input message="tns:DeleteCommentSoapIn" />
      <wsdl:output message="tns:DeleteCommentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndependentComments">
      <wsdl:input message="tns:GetIndependentCommentsSoapIn" />
      <wsdl:output message="tns:GetIndependentCommentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCommentAnswers">
      <wsdl:input message="tns:GetCommentAnswersSoapIn" />
      <wsdl:output message="tns:GetCommentAnswersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetComment">
      <wsdl:input message="tns:GetCommentSoapIn" />
      <wsdl:output message="tns:GetCommentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HaveMoreThanFourLevels">
      <wsdl:input message="tns:HaveMoreThanFourLevelsSoapIn" />
      <wsdl:output message="tns:HaveMoreThanFourLevelsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AsmxCommentServiceSoap" type="tns:AsmxCommentServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateComment">
      <soap:operation soapAction="http://comments.org/CreateComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateComment">
      <soap:operation soapAction="http://comments.org/UpdateComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteComment">
      <soap:operation soapAction="http://comments.org/DeleteComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndependentComments">
      <soap:operation soapAction="http://comments.org/GetIndependentComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommentAnswers">
      <soap:operation soapAction="http://comments.org/GetCommentAnswers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComment">
      <soap:operation soapAction="http://comments.org/GetComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaveMoreThanFourLevels">
      <soap:operation soapAction="http://comments.org/HaveMoreThanFourLevels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AsmxCommentServiceSoap12" type="tns:AsmxCommentServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateComment">
      <soap12:operation soapAction="http://comments.org/CreateComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateComment">
      <soap12:operation soapAction="http://comments.org/UpdateComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteComment">
      <soap12:operation soapAction="http://comments.org/DeleteComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndependentComments">
      <soap12:operation soapAction="http://comments.org/GetIndependentComments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommentAnswers">
      <soap12:operation soapAction="http://comments.org/GetCommentAnswers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComment">
      <soap12:operation soapAction="http://comments.org/GetComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HaveMoreThanFourLevels">
      <soap12:operation soapAction="http://comments.org/HaveMoreThanFourLevels" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AsmxCommentService">
    <wsdl:port name="AsmxCommentServiceSoap" binding="tns:AsmxCommentServiceSoap">
      <soap:address location="http://localhost:53862/AsmxCommentService.asmx" />
    </wsdl:port>
    <wsdl:port name="AsmxCommentServiceSoap12" binding="tns:AsmxCommentServiceSoap12">
      <soap12:address location="http://localhost:53862/AsmxCommentService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>