bizapps_test.MVC/Connected Services/WcfBlogUserServiceReference/WcfBlogUserService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/bizapps_test.SL.Wcf_Services.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/bizapps_test.SL.Wcf_Services.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BlogUserDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="BlogName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserPassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlogUserDC" nillable="true" type="tns:BlogUserDC" />
  <xs:complexType name="ArrayOfBlogUserDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BlogUserDC" nillable="true" type="tns:BlogUserDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBlogUserDC" nillable="true" type="tns:ArrayOfBlogUserDC" />
</xs:schema>