bizapps_test.MVC/Connected Services/WcfPostServiceReference/WcfPostService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/WcfPostService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/bizapps_test.SL.Wcf_Services.DataContracts" />
  <xs:element name="CreatePost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/bizapps_test.SL.Wcf_Services.DataContracts" minOccurs="0" name="postDC" nillable="true" type="q1:PostDC" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/bizapps_test.SL.Wcf_Services.DataContracts" minOccurs="0" name="categoryListDC" nillable="true" type="q2:ArrayOfCategoryDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreatePostResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/bizapps_test.SL.Wcf_Services.DataContracts" minOccurs="0" name="postDC" nillable="true" type="q3:PostDC" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/bizapps_test.SL.Wcf_Services.DataContracts" minOccurs="0" name="categoryListDC" nillable="true" type="q4:ArrayOfCategoryDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePostResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/bizapps_test.SL.Wcf_Services.DataContracts" minOccurs="0" name="postDC" nillable="true" type="q5:PostDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePostResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPosts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPostsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/bizapps_test.SL.Wcf_Services.DataContracts" minOccurs="0" name="GetUserPostsResult" nillable="true" type="q6:ArrayOfPostDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPostsByUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPostsByUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/bizapps_test.SL.Wcf_Services.DataContracts" minOccurs="0" name="GetUserPostsByUserNameResult" nillable="true" type="q7:ArrayOfPostDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostsByUserNameWithoutCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostsByUserNameWithoutCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/bizapps_test.SL.Wcf_Services.DataContracts" minOccurs="0" name="GetPostsByUserNameWithoutCategoryResult" nillable="true" type="q8:ArrayOfPostDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostsByUserNameAndCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostsByUserNameAndCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/bizapps_test.SL.Wcf_Services.DataContracts" minOccurs="0" name="GetPostsByUserNameAndCategoryResult" nillable="true" type="q9:ArrayOfPostDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/bizapps_test.SL.Wcf_Services.DataContracts" minOccurs="0" name="GetPostResult" nillable="true" type="q10:PostDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>