bizapps_test.MVC/Connected Services/WcfPostServiceReference/WcfPostService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/bizapps_test.SL.Wcf_Services.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/bizapps_test.SL.Wcf_Services.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PostDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PostImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostDC" nillable="true" type="tns:PostDC" />
  <xs:complexType name="ArrayOfCategoryDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryDC" nillable="true" type="tns:CategoryDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryDC" nillable="true" type="tns:ArrayOfCategoryDC" />
  <xs:complexType name="CategoryDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryDC" nillable="true" type="tns:CategoryDC" />
  <xs:complexType name="ArrayOfPostDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PostDC" nillable="true" type="tns:PostDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPostDC" nillable="true" type="tns:ArrayOfPostDC" />
</xs:schema>