bizapps_test.MVC/Connected Services/AsmxBlogUserServiceReference/AsmxBlogUserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://bloguser.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://bloguser.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://bloguser.org/">
      <s:element name="CreateBlogUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bloguserSoap" type="tns:BlogUserSoap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BlogUserSoap">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BlogName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateBlogUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateBlogUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateBlogUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bloguserSoap" type="tns:BlogUserSoap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateBlogUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateBlogUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteBlogUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bloguserSoap" type="tns:BlogUserSoap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteBlogUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteBlogUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bloguserSoap" type="tns:BlogUserSoap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangePasswordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllUsers">
        <s:complexType />
      </s:element>
      <s:element name="GetAllUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllUsersResult" type="tns:ArrayOfBlogUserSoap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBlogUserSoap">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BlogUserSoap" nillable="true" type="tns:BlogUserSoap" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetBlogUserById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBlogUserByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBlogUserByIdResult" type="tns:BlogUserSoap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBlogUserByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBlogUserByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBlogUserByNameResult" type="tns:BlogUserSoap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBlogUserNameAndPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="incomingUser" type="tns:BlogUserSoap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBlogUserNameAndPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBlogUserNameAndPasswordResult" type="tns:BlogUserSoap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdminPermission">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdminPermissionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetAdminPermissionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateBlogUserSoapIn">
    <wsdl:part name="parameters" element="tns:CreateBlogUser" />
  </wsdl:message>
  <wsdl:message name="CreateBlogUserSoapOut">
    <wsdl:part name="parameters" element="tns:CreateBlogUserResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateBlogUserSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateBlogUser" />
  </wsdl:message>
  <wsdl:message name="UpdateBlogUserSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateBlogUserResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteBlogUserSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteBlogUser" />
  </wsdl:message>
  <wsdl:message name="DeleteBlogUserSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteBlogUserResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetBlogUserByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetBlogUserById" />
  </wsdl:message>
  <wsdl:message name="GetBlogUserByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetBlogUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetBlogUserByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetBlogUserByName" />
  </wsdl:message>
  <wsdl:message name="GetBlogUserByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetBlogUserByNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetBlogUserNameAndPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:GetBlogUserNameAndPassword" />
  </wsdl:message>
  <wsdl:message name="GetBlogUserNameAndPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:GetBlogUserNameAndPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="GetAdminPermissionSoapIn">
    <wsdl:part name="parameters" element="tns:GetAdminPermission" />
  </wsdl:message>
  <wsdl:message name="GetAdminPermissionSoapOut">
    <wsdl:part name="parameters" element="tns:GetAdminPermissionResponse" />
  </wsdl:message>
  <wsdl:portType name="AsmxBlogUserServiceSoap">
    <wsdl:operation name="CreateBlogUser">
      <wsdl:input message="tns:CreateBlogUserSoapIn" />
      <wsdl:output message="tns:CreateBlogUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBlogUser">
      <wsdl:input message="tns:UpdateBlogUserSoapIn" />
      <wsdl:output message="tns:UpdateBlogUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBlogUser">
      <wsdl:input message="tns:DeleteBlogUserSoapIn" />
      <wsdl:output message="tns:DeleteBlogUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input message="tns:GetAllUsersSoapIn" />
      <wsdl:output message="tns:GetAllUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBlogUserById">
      <wsdl:input message="tns:GetBlogUserByIdSoapIn" />
      <wsdl:output message="tns:GetBlogUserByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBlogUserByName">
      <wsdl:input message="tns:GetBlogUserByNameSoapIn" />
      <wsdl:output message="tns:GetBlogUserByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBlogUserNameAndPassword">
      <wsdl:input message="tns:GetBlogUserNameAndPasswordSoapIn" />
      <wsdl:output message="tns:GetBlogUserNameAndPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAdminPermission">
      <wsdl:input message="tns:GetAdminPermissionSoapIn" />
      <wsdl:output message="tns:GetAdminPermissionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AsmxBlogUserServiceSoap" type="tns:AsmxBlogUserServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateBlogUser">
      <soap:operation soapAction="http://bloguser.org/CreateBlogUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBlogUser">
      <soap:operation soapAction="http://bloguser.org/UpdateBlogUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBlogUser">
      <soap:operation soapAction="http://bloguser.org/DeleteBlogUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://bloguser.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://bloguser.org/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogUserById">
      <soap:operation soapAction="http://bloguser.org/GetBlogUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogUserByName">
      <soap:operation soapAction="http://bloguser.org/GetBlogUserByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogUserNameAndPassword">
      <soap:operation soapAction="http://bloguser.org/GetBlogUserNameAndPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdminPermission">
      <soap:operation soapAction="http://bloguser.org/GetAdminPermission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AsmxBlogUserServiceSoap12" type="tns:AsmxBlogUserServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateBlogUser">
      <soap12:operation soapAction="http://bloguser.org/CreateBlogUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBlogUser">
      <soap12:operation soapAction="http://bloguser.org/UpdateBlogUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBlogUser">
      <soap12:operation soapAction="http://bloguser.org/DeleteBlogUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://bloguser.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap12:operation soapAction="http://bloguser.org/GetAllUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogUserById">
      <soap12:operation soapAction="http://bloguser.org/GetBlogUserById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogUserByName">
      <soap12:operation soapAction="http://bloguser.org/GetBlogUserByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogUserNameAndPassword">
      <soap12:operation soapAction="http://bloguser.org/GetBlogUserNameAndPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdminPermission">
      <soap12:operation soapAction="http://bloguser.org/GetAdminPermission" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AsmxBlogUserService">
    <wsdl:port name="AsmxBlogUserServiceSoap" binding="tns:AsmxBlogUserServiceSoap">
      <soap:address location="http://localhost:53862/AsmxBlogUserService.asmx" />
    </wsdl:port>
    <wsdl:port name="AsmxBlogUserServiceSoap12" binding="tns:AsmxBlogUserServiceSoap12">
      <soap12:address location="http://localhost:53862/AsmxBlogUserService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>